*{
    box-sizing:border-box;
}
body{
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 18px;
}
#stats{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}
#text-container{
    padding: 10px 150px;
}
#timer{
    position: fixed;
    padding: 5px;
    bottom: 0px;
    left: 0px;
}
#info{
    position: fixed;
    padding: 5px;
    bottom: 0px;
    right: 0px;
}
.active{
    color: white;
}
.inactive{
    color: gray;
}
.error{
    color: rgb(192, 50, 81);
}
.cursor{
    border-right: solid white 2px;
    animation: blink 1200ms step-end infinite;
    -webkit-animation: blink 1200ms step-end infinite;
}
@keyframes blink {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}